<!DOCTYPE html>
<html ng-app="WorldClock">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sample page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <!-- Place favicon.ico in the root directory -->

</head>

<body ng-controller="WorldClockController">
  <!--main section start-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="form-group">
              <label for="torontoTimeInput">Set Toronto Time: </label>
              <input required="" placeholder="HH:MM:SS" type="text" name="torontoTimeInput" id="torontoTimeInput" ng-model="newTorontoTime" tabindex="1">
            </div>
            <!--./ form-group-->
            <button type="submit" class="btn btn-default" ng-click="setTorontoTime();">Submit</button>
          </form>
        </div>
        <!--./form-inline-->
      </div>
      <div class="row">
        <div class="form-inline">
          <div class="col-md-6">
            <h4 style="display:inline">Torento:</h4>
            <h1 style="display:inline">{{torontoTime| date:'HH:mm:ss'}}</h1>
          </div>
          <div class="col-md-3">
            <h4 style="display:inline">London:</h4>
            <h3 style="display:inline">{{londonTime| date:'HH:mm:ss'}}</h3>
          </div>
          <div class="col-md-3">
            <h4 style="display:inline">Sydney:</h4>
            <h3 style="display:inline">{{sydneyTime| date:'HH:mm:ss'}}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--./ main section end-->
  <hr>
  <!--setting section start-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">Settings</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline" name="londonForm">
            <div class="form-group">
              <label>Time difference for London: </label>
              <input type="number" ng-minlength="MIN_VALUE" ng-maxlength="MAX_VALUE" name="londonTime" id="londonTime" ng-model="londonTimeDiff" value="" tabindex="">
            </div>
            <!--./ form-group-->
            <button type="submit" class="btn btn-default" ng-click="differenceForLondon();">Submit</button>
          </form>
        </div>

        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <label for="torontoTimeInput">Time difference for Sydney: </label>
              <input required="" type="text" name="torontoTimeInput" id="torontoTimeInput" ng-model="sydneyTimeDiff" value="" tabindex="">
            </div>
            <!--./ form-group-->
            <button type="submit" class="btn btn-default" ng-click="differenceForSydney();">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </section>
  <!--./ setting section end-->

  <!--./ container-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>